# {{ ansible_managed }}
# Default settings for Squash. This file is sourced by /bin/bash.


# Extra arguments passed to JVM
JAVA_ARGS="-Xmx{{ squash_xmx}}{% if squash_xms is defined %} -Xms{{ squash_xms }}{% endif %}{% if squash_maxpermsize is defined %} -XX:MaxPermSize={{ squash_maxpermsize }}{% endif %} -Djava.awt.headless=true{% if squash_extra_java_args is defined %} {{ squash_extra_java_args }}{% endif %}"

# Port for HTTP connector
HTTP_PORT="{{ squash_http_port }}"

# DataBase parameters
DB_URL="{{ squash_db_url }}"
DB_TYPE="{{ squash_db_type }}"
DB_USERNAME="{{ squash_db_username }}"
DB_PASSWORD="{{ squash_db_password }}"
